* {
  font-family: arial;
  text-align: center;
}

body {
  position: relative;
}

.keylog-label {
  position: absolute;
  top: 40%;
  margin-left: -10px;
  font-size: 30px;
  opacity: .3;
}

#keyboard,
#instruments {
  position: relative;
  top: 50px;
  left: 50%;
  margin-left: -210px;
  height: 600px;
  width: 420px;
}

#instruments {
  position: absolute;
}

#instruments > div {
  /* Display & Box Model */
  width: 25%;
  float: left;
  padding: 5px 0px 5px 0px;
  border: 1px solid grey;
  margin-left: -1px;
  border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Transitions */
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#instruments > div:hover,
.active-tab {
  height: 40px;
  margin-top: -10px;
  color: white;
  background-color: black;
  line-height: 30px;
  vertical-align: middle;

  -webkit-transition: height .1s ease;
	-moz-transition: height .1s ease;
	-ms-transition: height .1s ease;
	-o-transition: height .1s ease;
	transition: height .1s ease;
}

button {
  /* Display & Box Model */
  width: 25%;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  /* Color */
  background-color: white;
  color: black;

  /* Transitions */
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

button:hover,
button:active {
  color: white;
  background-color: black;
  border: 1px solid black;
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.white-key {
  position: relative;
  background-color: white;

  /* Display & Box Model */
  border-radius: 5px;
  border: 1px solid black;
  height: 50%;
  width: 14.28%;
  border-top: none;
  margin-left: -1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 5px 9px 15px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 5px 9px 15px rgba(0,0,0,.7);
  box-shadow: 0px 9px 2px rgba(0,0,0,.33), 5px 9px 15px rgba(0,0,0,.7);
}

.white-key:hover,
#instruments > div:hover {
  cursor: pointer;
}

.white-key:hover {
  z-index: 1;
  background-color: lightyellow;
  -webkit-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 9px 15px rgba(0,0,0,.9);
}

.white-key:active,
.active-key {
  position: relative;
  top: 6px;
  background-color: lightyellow;

  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  -webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.white-key:active > .black-key,
.active-key > .black-key {
  top: -6px;
}

.black-key {
  position: absolute;
  top: 0;
  left: 75%;
  height: 66%;
  width: 50%;
  z-index: 2;
  border-radius: 4px;
  background-color: black;
}

.key-name {
  margin-top: 20px;
  font-size: 26px;
}

.key-letter {
  margin: 210px 0 0px 0;
  color: grey;
}

.user-interface {
  position: relative;
  clear: left;
  top: 20px;
}

.key-input {
  text-align: left;
  width: 70%;
  font-size: 16px;
}

.key-log {
  height: 435px;
}

.log {
  position: relative;

  /* Display & Box Model */
  height: 100%;
  width: 14.27%;
  float: left;
  overflow: hidden;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-sizing: border-box;
  margin-left: -1px;
  border-width: 1px;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(grey), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(grey, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(grey, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(grey, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, grey, rgba(0, 0, 0, 0)) 1 100%;

  span {
    margin-bottom: 10px;
  }
}

.logged-key,
.key-counter {
  height: 60px;
  border: 1px solid white;
  color: white;
  text-align: middle;
  line-height: 60px;
  background-color: black;
}

.logged-key,
.blank {
  position: relative;
  display: block;
}

.blank {
  height: 60px;
  border: 1px solid white;
  background-color: white;
}

.key-counter {
  position: absolute;
  bottom: 0;
  width: 59px;
  margin-left: -30px;
}
