* {
  font-family: arial;
}

body {
  position: relative;
}

#keyboard,
#instruments {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -210px;
  height: 600px;
  width: 420px;
}

#instruments {
  display: table;
  position: absolute;
  top: 10px;
}

#instruments > div {
  width: 25%;
  float: left;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -1px;

  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

button {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
}

#instruments > div:hover,
.active-tab {
  color: white;
  background-color: black;
  margin-top: -10px;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;

  -webkit-transition: height .1s ease;
	-moz-transition: height .1s ease;
	-ms-transition: height .1s ease;
	-o-transition: height .1s ease;
	transition: height .1s ease;
}

.white-key {
  position: relative;
  background-color: white;
  border: 1px solid black;
  height: 50%;
  width: 14.28%;
  /*height: 300px;
  width: 60px;*/
  border-top: none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -1px;
  -webkit-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 5px 9px 15px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 5px 9px 15px rgba(0,0,0,.7);
  box-shadow: 0px 9px 2px rgba(0,0,0,.33), 5px 9px 15px rgba(0,0,0,.7);

}

.white-key:hover,
#instruments > div:hover {
  cursor: pointer;
}

.white-key:hover {
  /*z-index: 1;*/
  background-color: lightyellow;
  /*-webkit-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 9px 0px rgba(0,0,0,0.33), 0px 9px 15px rgba(0,0,0,.9);*/
}

.white-key:active,
.active-key {
  position: relative;
  top: 6px;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.33),
    inset 10px 0px 15px -10px rgba(0,0,0,.9),
    inset -10px 0px 15px -10px rgba(0,0,0,.9);
  background-color: lightyellow;

  -webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.white-key:active > .black-key,
.active-key > .black-key {
  top: -6px;
}

.black-key {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 75%;
  height: 66%;
  width: 50%;
  background-color: black;
}

.key-name {
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
}

.key-letter {
  text-align: center;
  margin: 210px 0 0px 0;

  /*line-height: 200px;*/
}

.user-interface {
  position: relative;
}

.key-input {
  left: 50%;
}

.user-interface {
  clear: left;
  top: 10px;
}
